<html>
    <head>    
            <meta charset="UTF-8">
            <title>Index</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="static/css/style.css">            
    </head>

    <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">Teaching Computers to Feel:  Advanced Sentiment Analysis</a>
                          <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                                            </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Background
                                    </a>
                                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="zipf">Zipf</a>
                                      <a class="dropdown-item" href="mission">Mission</a>
                                              <a class="dropdown-item" href="data">Data</a>
                                      <div class="dropdown-divider"></div>
                                    </div>
                                  </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Visuals
                                    </a>
                                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="visual1">Zipf Visual</a>
                                              <a class="dropdown-item" href="models">Models</a>
                                      <div class="dropdown-divider"></div>
                                    </div>
                                  </li>
                                  <li class="nav-item active">
                                    <a class="nav-link" href="test">Test<span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item active">
                                        <a class="nav-link" href="about">About<span class="sr-only">(current)</span></a>
                                      </li>
                                </ul>
                              </div>
                </nav>
                <div id="container">
                    <div class="row">
                      <div class="col-1"></div>
                            <div class="col-6">
                                <div class="jumbotron">
                                <h1 class="display-5">Models</h1>
                                <hr class="my-5">
                                <p>
                                    <b>Non-ML Classifier</b>
                                    <br>Used existing "Positive/Negative" Word Bank
                                    <br>Compares each word in document to database
                                    <br>uses a modified Term Frequency Equation
                                    <br>
                                    <br>
                                    <b>Naive Bayes Classifer</b>
                                    <br>Used CountTokenize() to split the words and make a vocabulary
                                    <br>Used TF-IDF to assign scores to each word
                                    <br>Used NBClassifier() and Pipeline from SKLearn to build model
                                    <br>
                                    <br>
                                    <b>SGD Classifier</b>
                                    <br>Same setup as Naive Bayes.
                                    <br>Instead of NBClassifier(), used SGDClassifier()
                                    <br>
                                    <br>
                                    <b>Neural Network Model</b>
                                    <br>Same initial setup as previous 2 models
                                    <br>Constructed a neural net with 14319 input parameters (one for each word in vocab of training data)
                                    <br>Structure: Dense Layer(243) -> Dropout Layer(.2) -> Dense Layer(27) -> Dropout Layer(.2) -> Dense Layer(3)
                                    <br>After experimentation, best optimizer was ADAGRAD.  Also tried ADAM, SGD, ADADELTA, and RMSPROP
                                    <br>After experimentation, 200 Epochs gave us good results.  Tried between 20 and 1000.
                                    <br>
                                </p>
                                <h1 class="display-5">Accuracy</h1>
                                <hr class="my-5">
                                <p>
                                    <b>Non-ML Classifier: </b> 68.48%
                                    <br>
                                    <b>Naive Bayes Classifer: </b> 72.88%
                                    <br>
                                    <b>SGD Classifier: </b> 75.48%
                                    <br>
                                    <b>Neural Network Model: </b> 80.12%
                                    <br>
                                </p>
                                <h1 class="display-5">Test Data Info</h1>
                                <hr class="my-5">
                                <p>
                                    <b>Positive: </b> 1818
                                    <br>
                                    <b>Negative: </b> 299
                                    <br>
                                    <b>Neutral: </b> 383
                                    <br>
                                    <b>Total: </b> 2500
                                </p>
                                <hr class="my-5">
                                <h2 class="display-6">Non-ML Classifier</h2>
                                    <p>Accuracy: 63.97%
                                        <br><br>
                                        <img src = "../static/images/NML2.jpg" alt = "Non-ML">
                                    </p>
                                <hr class="my-5">
                                <h2 class="display-6">Naive Bayes Model</h2>
                                <p>Accuracy: 72.88%
                                    <br><br>
                                        <img src = "../static/images/NB2.jpg" alt = "Naive Bayes">
                                </p>
                                <hr class="my-5">
                                <h2 class="display-6">SGD Model</h2>
                                <p>Accuracy: 75.48%
                                    <br><br>
                                        <img src = "../static/images/SGD2.jpg" alt = "SGD Model"> 
                                </p>
                                <hr class="my-5">
                                <h2 class="display-6">Neural Network Model</h2>
                                <p>Accuracy: 79.8%
                                    <br><br>
                                        <img src = "../static/images/NN2.jpg" alt = "Neural Network">
                                </p>
                            <div class="col">
                    </div>
                </div>
                    </div>
                </div>
    </body>
</html>